<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>0117_김다빈</display-name>
  
  <filter>
  	<filter-name>loginCheck</filter-name>
  	<filter-class>com.mhd.bband.filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>loginCheck</filter-name>
  	<url-pattern>/main.jsp</url-pattern>
  	<url-pattern>/logout.jsp</url-pattern>
  </filter-mapping>
  
</web-app>